.gitignore
.env
call.md
call.py
call.sh
docker-compose.yml
mail.md
mail.py
mail.sh
mail2copy.py
mail2.py
mail3.py
README.mail.md
README.md
README.rss.md
README.sql.rss.md
rss_bbc.py
rss.py
rss.sh 
rss2.py 
rss2.sh 
rss_youtube.py 
setup.sh
sz.py
usd.md
usd.py 
usd.sh 
usd2.py
Dockerfile copy
rss copy.py
Dockerfile slim
Dockerfile alpine
docker-compose alpine.yml
tt.py
tt.md
tt.sh
sql_rss.py
docker-compose alpine.yml
qq.py
gpt.py
rss代理.py
ss.sh
