aiohappyeyeballs==2.4.3
aiohttp==3.11.14
aiomysql==0.2.0
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
attrs==24.2.0
beautifulsoup4==4.12.3
cachetools==5.5.1
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
cssselect==1.2.0
deprecation==2.1.0
ephem==4.1.6
fake-useragent==2.0.3
feedparser==6.0.11
filelock==3.17.0
frozendict==2.4.6
frozenlist==1.5.0
googleapis-common-protos==1.66.0
gotrue==2.11.4
grpcio==1.69.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
html2text==2024.2.26
html5lib==1.1
httpcore==1.0.6
httplib2==0.22.0
httpx==0.28.1
hyperframe==6.1.0
idna==3.10
IMAPClient==3.0.1
importlib_metadata==8.5.0
LunarCalendar==0.0.9
lxml==5.3.0
multidict==6.1.0
multitasking==0.0.11
mysql-connector-python==9.1.0
numpy==2.2.1
packaging==24.2
pandas==2.2.3
parse==1.20.2
peewee==3.17.8
platformdirs==4.3.6
postgrest==0.19.3
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.29.3
psutil==6.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.10.6
pydantic_core==2.27.2
pyee==11.1.1
PyMySQL==1.1.1
pyparsing==3.2.1
pyquery==2.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==22.0
pytz==2024.2
realtime==2.4.1
requests==2.32.3
rsa==4.9
sgmllib3k==1.0.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
storage3==0.11.3
StrEnum==0.4.15
supabase==2.13.0
supafunc==0.9.3
tencentcloud-sdk-python==3.0.1266
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
uritools==4.0.3
urlextract==1.9.0
urllib3==1.26.20
w3lib==2.2.1
webencodings==0.5.1
websockets==14.2
yarl==1.18.3
yfinance==0.2.54
zipp==3.21.0
